*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

.global {
    display: flex;
    justify-content: center;
    // min-height: 40vh;

}



.global > section,
.global > header,
.global > footer{
    flex: 0 1 1100px;
    // border: 1px solid #aaa;
    padding: 3rem 1rem;
    background-color: rgba(0,0,0,var(--transparence-section));
    min-width:var(--largeur-section);
}

.global > .hero{
    flex: 1;
    
}
#entete, #footer {

min-height: 15vh;

}

#menu__entete {
    position: relative;
    background-color: var(--couleur-arriere-accueil);
    
}

#entete{
background-color: var(--couleur-arriere-entete);
color: var(--couleur-entete);
position: relative;
min-height: 65vh;
}
#accueil{
background-color: var(--couleur-arriere-accueil);
color: var(--couleur-accueil);
position: relative;
}
#evenement{
background-color: var(--couleur-arriere-evenement);
color: var(--couleur-evenement);
position: relative;
}
#galerie{
background-color:var(--couleur-arriere-galerie);
color: var(--couleur-galerie);
}
#footer{
background-color:var(--couleur-arriere-footer);
color: var(--couleur-footer);
}