:root {
    --couleur-arriere-entete : #e30000;
    --couleur-arriere-accueil : #cbcbcb;
    --couleur-arriere-evenement : #747a05;
    --couleur-arriere-galerie : #6b0000;
    --couleur-arriere-footer : #360101;
}