:root {
    --couleur-arriere-entete : #7c6731;
    --couleur-arriere-accueil : #cbcbcb;
    --couleur-arriere-evenement : #dbb658;
    --couleur-arriere-galerie : #cbcbcb;
    --couleur-arriere-footer : #7c6731;

    /* Niveau de transparence des h1 */

    --transparence-h1: .4;
    --transparence-section: .3;

    /* Largeur des sections */

    --largeur-section: 80vw;
}