// Feuille de style menu principal

.menu-principal-container { //Nav
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(157deg, rgba(0,0,0,1) 0%, rgba(121,113,9,1) 35%, rgba(255,241,0,1) 100%);
    border: 5px solid whitesmoke;
    transform: translateX(-130%);
    transition: transform 0.5s ;
    z-index: 1;
    

    @media (min-width: 700px) {
        transform: translateX(0);
        
        position: static;
    }
    .menu { //ul
        display: flex;
        flex-direction: column;
        @media (min-width: 700px) {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
    }
    
    .menu-item { //li
    flex: 1 0 50px;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    
    }
    
    .menu-item a { //li a
        color: #fff;
        text-decoration: none;
        font-size: clamp(1rem, -1.292rem + 7.333vw, 1.75rem);
        font-weight: 700;
        font-family: 'Teko', sans-serif;
    }
    // Gestion label burger l'image svg dans un label
    

    #burger {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        
    }

}
#chk_burger{
        display: none;
}
#burger > svg:nth-child(1) {
    @media (min-width: 700px) {
     display: none;   
    }
    
  }
  

#chk_burger:checked ~ .menu-principal-container {
    transform: translateX(0);
    
}
