.diagonal{
    position: relative;
    isolation: isolate; 
}
.diagonal::after{
    position: absolute;
    content:"";
    // left: 0;
    // right: 0;
    // top: 0;
    // bottom: 0;

    inset: 0;

    background-color: #807d00;
    z-index: -1;
    transform: skewY(-3deg);


}